<div id="banner" class="middle">
    <hr><div>
            You're a developer ? HELP US BY SHARING YOUR KNOWLEDGE !
        </div><a href="/developers/" id="joinus">JOIN US</a><span class="taille"></span>
</div>