<link href="/css/banner.css" rel="stylesheet" type="text/css" />

<div class="banner">
    <div class="banner-line"></div><p class="banner-text">YOU'RE A DEVELOPER ? HELP US BY SHARING YOUR KNOWLEDGE !</p><a target="_blank" href="https://github.com/robjullian/shuttle" class="banner-btn">JOIN US</a>
</div>