<link href="/css/footer.css" rel="stylesheet" type="text/css" />

<div class="foot">
    <div class="copyright">
        <p>Ⓒ 2018 Robin Jullian. All Rights Reserved.</p>
    </div>
    <div class="social">
        <a href="https://twitter.com/shuttle_app" target="_blank" class="social-link"><icon name="brands/twitter"/></a>
        <a href="#" class="social-link"><icon name="brands/youtube"/></a>
        <a href="https://github.com/robjullian/shuttle" target="_blank" class="social-link"><icon name="brands/github"/></a>
    </div>
    <div class="links">
        <a href="#" class="website-link">Terms of Service</a>
        <a href="#" class="website-link">Legal & Privacy</a>
        <a href="#" class="website-link">Donate</a>
    </div>
</div>