<link href="/css/footer.css" rel="stylesheet" type="text/css" />

<div id="footer" class="middle">
    <div id="links" class="middle">
        <a href="https://www.paypal.me/shuttleapp" target="_blank">
            Donate
        </a><a href="/legalandprivacy/">
            Legal & Privacy
        </a><a href="/termsofuse/">
            Terms of Service
        </a><span class="taille"></span>
    </div><span class="taille"></span><div id="copyright">
        <p>Ⓒ 2018 Robin Jullian. All Rights Reserved.</p>
    </div><div id="social" class="middle">
        <a href="https://twitter.com/shuttle_app" target="_blank" class="social-link"><icon name="brands/twitter"/></a>
        <a href="https://github.com/ShuttleBrowser" target="_blank" class="social-link"><icon name="brands/github"/></a>
    </div>
</div>