<link rel="stylesheet" href="/css/navbar.css">
<header>
        <a href="/">
            <img src="/img/logo-wh.svg" alt="">
        </a>
        <ul>
            <li id="download"><a href="/download/">DOWNLOAD</a></li>
        </ul>

        <ul id="nav">
            <li class="active">
                HOME
            </li><li>
                RESOURCES
                <ul class="submenu">
                    <li><a href="/developers/">Developers</a></li>
                    <li><a href="https://github.com/ShuttleBrowser/Shuttle/blob/master/README.md" target="_blank">Documentation</a></li>
                    <hr>
                    <li><a href="/addons/">Addons Store</a></li>
                </ul>
            </li><li>
                ABOUT
            </li><li id="signup">
                SIGN UP
            </li><li id="signin">
                SIGN IN
            </li>
        </ul>
</header>