<link rel="stylesheet" href="/css/navbar.css">
<script src="/js/navbar.js"></script>
<header>
    <a href="/">
        <img src="/img/logo-wh.svg" alt="">
    </a>
    <div id="mainnav" class="">
        <a href="/download" id="download">DOWNLOAD</a>

        <ul id="nav">
            <li
            <% if(page == 'home') { %>
                class="active"
            <% } %>
            >
                <a href="/">HOME</a>
            </li><li
            <% if(page == 'developers') { %>
                class="active"
            <% } %>
            >
                RESOURCES
                <ul class="submenu">
                    <li><a href="/developers">Developers</a></li>
                    <li><a href="https://github.com/ShuttleBrowser/Shuttle/blob/master/README.md" target="_blank">Documentation</a></li>
                    <hr>
                    <li><a href="/addons">Addons Store</a></li>
                </ul>
            </li><li
            <% if(page == 'about') { %>
                class="active"
            <% } %>
            >
                <a href="/about">ABOUT</a>
            </li><li id="signup" :class="{ active: isActive }">
                SIGN UP
            </li><li id="signin" :class="{ active: isActive }">
                SIGN IN
            </li>
        </ul>
    </div>
        <div id="hamburger" onclick="toggleDropDown()">
            <div class="bar" id="first"></div>
            <div class="bar" id="second"></div>
            <div class="bar" id="third"></div>
        </div>
</header>