<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@4.4.6/dist/css/swiper.min.css'>
<link rel='stylesheet' href='https://therolf.fr/css/base.css'>
<link rel="stylesheet" href="/css/swiper.css">

<!-- Swiper -->
<div id="slider">
  <img src="/img/swiper.svg" alt="logo-carousel" id="shuttle">
   <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
	      <h5>FREE</h5>
		    <p>Shuttle is free, now and forever. It's an open-source project started in 2017, with the conviction of simplifying your life.</p>
	    </div>
      <div class="swiper-slide">
	      <h5>OPEN-SOURCE</h5>
		    <p>As said previously, Shuttle is free, but first of all, open-source. That means people like you help us with their knowledge in development to improve the app.</p>
      </div>
      <div class="swiper-slide">
	      <h5>RESPONSIVE</h5>
		    <p>The major part or websites are adaptable to the Shuttle's interface. There is stille some websites who aren't responsive, and we apologize.</p>
      </div>
      <div class="swiper-slide">
        <h5>LIGHT</h5>
		    <p>Shuttle is regularly updated, that means, tomorrow, it will be lighter than today. We don't forget all the contributors, who help to make the app the smallest possible.</p>
      </div>
      <div class="swiper-slide">
        <h5>HELP US</h5>
		    <p>There are many wyas to help us. You can make a donation, help us in the lab to improve the source code, or simply share and talk about the app to your entourage.</p>
      </div>
      <div class="swiper-slide">
        <h5>UPDATED REGULARLY</h5>
		    <p>All the team is up behind their screens to make the most possible updates. We are working all the day and all the night to offer you the best of Shuttle.</p>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <div id="learnmore">LEARN MORE</div>
</div>
 
<script src='https://cdn.jsdelivr.net/npm/swiper@4.4.6/dist/js/swiper.min.js'></script>
<script  src="/js/swiper.js"></script>