<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shuttle</title>

    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/img/favicon.png">
</head>
<body>
    <%- include(`components/navbar`) %>
    <div id="content">
        <%- include(`pages/${page}`) %>
    </div>
    <%- include(`components/banner`) %>
    <%- include(`components/footer`) %>
</body>
</html>