#about {
    height: 100%;
    text-align: center;
}

#about #family {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 5px;
    margin: 0 auto;
    /*love: true;*/
}

#about > * {
    max-width: 100%;
}

#about table {
    text-align: left;
    width: 465px;
    max-width: 100%;
    margin: 0 auto;
    border: 0px none;
}

#about table h3 {
    font-size: 13px;
    font-weight: 400;
}

#about table p {
    font-size: 11px;
    text-align: justify;
    opacity: .7;
    word-wrap: none;
}

#about table td {
    padding: 15px 20px 15px 0;
    vertical-align: top;
}

#about table td+td {
    padding: 15px 0 15px 20px;
}

#about #learnmore {
    font-size: 11px;
    opacity: .7;
    font-weight: 400;
}

#about img {
    width: 465px;
}

#about #specialthanks {
    margin-top: 45px;
    font-size: 14px;
    font-weight: 400;
}

#about #bestcontributors {
    margin: 10px 0;
}

.squares { grid-area: squares; }

.squares {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(7, 12px)
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Other styling */

.squares li {
  background-color: #412035;
  list-style-type: none;
}

.squares li[data-level="1"] {
  background-color: #a91f4f;
}

.squares li[data-level="2"] {
  background-color: #e71f5f;
}

.squares li[data-level="3"] {
  background-color: #412035;
}

.squares li[data-level="4"] {
  background-color: #412035;
}

@media screen and (max-width: 1024px) {
    #about {
        height: auto;
        margin: 90px 0;
    }
    
    #about table, #about #family {
        width: 60%;
    }

    #about #family {
        margin: 0 auto 40px;
    }

    #about table td, #about table td+td {
        display: block;
        padding: 7px 0;
    }

    #about #learnmore {
        margin: 45px 0;
    }
}