#about {
    height: 100%;
    text-align: center;
}

#about #family {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 5px;
    margin: 0 auto;
    /*love: true;*/
}

#about > * {
    max-width: 100%;
}

#about #infos {
    text-align: left;
    width: 465px;
    max-width: 100%;
    margin: 0 auto;
    border: 0px none;
}

#about #infos h3 {
    font-size: 13px;
    font-weight: 400;
}

#about #infos p {
    font-size: 11px;
    text-align: justify;
    opacity: .7;
    word-wrap: none;
}

#about #infos td {
    padding: 15px 20px 15px 0;
    vertical-align: top;
}

#about #infos td+td {
    padding: 15px 0 15px 20px;
}

#about #learnmore {
    font-size: 11px;
    opacity: .7;
    font-weight: 400;
}

#about img {
    width: 465px;
}

#about #specialthanks {
    margin-top: 45px;
    font-size: 14px;
    font-weight: 400;
}

#about #bestcontributors {
    margin: 10px 0;
}

#squares td {
	padding: 0;
}
#squares td img {
	float: left;
	opacity: 0;
}

#squares {
	position: relative;
	width: 465px;
    max-width: 100%;
    margin: 20px auto;
}
#squares img {
	max-width: 100%;
	max-height: 100%;
}

#squares td.level-1 {
  background-color: #a91f4f;
}

#squares td, #squares td.level-2 {
  background-color: #e71f5f;
}

#squares td.level-3 {
  background-color: #412035;
}

#squares td.level-4 {
  background-color: #412035;
}

@media screen and (max-width: 1024px) {
    #about {
        height: auto;
        margin: 90px 0;
    }
    
    #about #infos, #about #family {
        width: 60%;
    }

    #about #family {
        margin: 0 auto 40px;
    }

    #about #infos td, #about #infos td+td {
        display: block;
        padding: 7px 0;
    }

    #about #learnmore {
        margin: 45px 0;
    }

    #about #squares {
        width: 60%;
    }
}