.developers {
    height: 100vh;
    width: 100%;
    background-color: #18202b;
    background: url(/img/background-developers.svg) no-repeat center;
    background-size: cover;
    color: white;
}
.dev-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.dev-title {
    color: white;
    font-size: 35px;
    font-weight: 300;
}

.undeline {
    text-decoration: underline;
}

.git {
    border: 1px solid #e71f5f;
    border-radius: 5px;
    height: 170px;
}
.git-title {
    color: white;
    font-weight: 300;
    font-size: 17px;
    padding: 0;
    margin-bottom: 1px;
}
.git-license {
    font-size: 8px;
    padding: 0;
    margin: 0;
}
.git-license a {
    font-size: 8px;
}

.git-command {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;

    position: relative;
    left: 50%;
    transform: translate(-50%);

    height: 35px;
    width: 355px;
}
.git-url {
    float: left;
    width: 320px;
    height: 35px;
    background-color: #0c1117;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.git-url input {
    cursor: pointer;
    margin-top: 8px;
    font-size: 13px;
    background-color: #0c1117;
    border: none;
    color: white;
    width: 90%;
}

.git-copy-btn {
    position: relative;
    margin: 0;
    background-color: #1b2733;
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.git-copy-btn svg {
    margin-top: 9px;
}

.git-download {
    position: relative;
    left: 50%;
    transform: translate(-50%);

    height: 30px;
    width: 300px;
}

.git-link {
    text-decoration: underline;
    margin: 10px;
}

.last-commit {
    text-align: left;
    width: 95%;
    height: 45px;
    margin-top: 10px;
    background-color: #1c2834;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    -webkit-box-shadow: -2px 16px 50px 1px rgba(0,0,0,0.57); 
    box-shadow: -2px 16px 50px 1px rgba(0,0,0,0.57);
}

.last-commit-profile-img {
    border-radius: 5px;
    position: relative;
    left: 6px;
    top: 5.1px;
    width: 30px;
    float: left;
}

.last-commit-text {
    position: relative;
    top: 1.1px;
    margin-left: 46px;
}

.last-commit-text-title {
    font-size: 12px;
}

.last-commit-text-username {
    font-size: 12px;
    color: #919191;
}

.last-commit-text-comited {
    left: 60px;
    font-size: 12px;
    color: #919191;
}

.last-commit-profile-text {
    position: absolute;
    top: 17px;
}

.last-commit-profile-hash {
    color: #e71f5f;
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 4px;
}

p {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1120px) {
    .commits {
        display: none;
    }

    .dev-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}