#footer {
    background: white;
    color: #b6b9b9;
    height: 60px;
    padding-left: 70px;
}

#footer #copyright, #footer #links {
    font-size: 12px;
}

#footer #social a {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #e71f5f;
    margin-left: 20px;
}

#footer #links {
    height: 100%;
    float: right;
}

#footer #links a {
    margin-right: 50px;
}

#footer #links a:hover {
    color: #878787;
}

@media screen and (max-width: 1024px) {
    #footer {
        height: auto;
        padding: 20px 40px;
        position: relative;
    }

    #footer #links {
        float: initial;
    }

    #footer #links a, #footer #copyright {
        margin: 0;
        display: block;
    }

    #footer #copyright {
        margin-top: 10px;
    }

    #footer #social {
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px 40px;
    }

    #footer span.taille {
        display: none;
    }
}