#footer {
    background: white;
    color: #b6b9b9;
    height: 60px;
    padding-left: 70px;
}

#footer #copyright, #footer #links {
    font-size: 12px;
}

#footer #social a {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #c4c5c4;
    margin-left: 20px;
}

#footer #links {
    height: 100%;
    float: right;
}

#footer #links a {
    margin-right: 50px;
}

#footer #links a:hover {
    color: #878787;
}