#download-center {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

#download-center > a {
	width: 176px;
	border-radius: 24px;
	height: 46px;
	line-height: 40px;
	border: 1px solid white;
	margin: 20px 0 10px;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
}
#download-center > a:hover {
    background: white;
    color: #18212b;
}

#download-center b {
    font-weight: 600;
}

#download-center a + p {
    font-size: 6px;
    color: #7b7b7b;
}

#dyjix {
	position: absolute;
	right: 39.5%;
	bottom: 80px;
	opacity: .8;
    font-size: 14px;
}

#dyjix img {
    height: 42px;
    margin-top: 22px;
    display: block;
}

#screen {
    position: absolute;
    right: 13%;
    bottom: -82px;
    z-index: 3;
    width: 400px;
}
}
