header {
    position: absolute;
    top: 40px;
    left: 120px;
    right: 140px;
}

header > a {
    width: 150px;
}

header #download {
    border: 1px solid #e71f5e;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
    padding: 0 6px;
    color: #e71f5e;
    border-radius: 7px;
    margin-left: 30px;
}
header #download:hover {
    background: #e71f5e;
    color: white;
}

header #nav {
    float: right;
    cursor: default;
}

header > *, header #nav > * {
    display: inline-block;
    vertical-align: middle;
}

header #nav > * {
    font-size: 14px;
    margin: 0 0 0 70px;
    padding: 3px 0;
    border: 1px solid transparent;
    border-width: 0 0 1px;
}

header #nav > *.active {
    border-bottom-color: #b6b9b9;
}

header #nav  li {
    position: relative;
}
header #nav > li:hover:not(.active) {
    color: #b6b9b9;
}

.submenu {
    background: white;
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    color: #b6b9b9;
    font-size: 11px;
    text-align: center;
    left: 50%;
    top: 100%;
    margin-top: 10px;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    text-transform: uppercase;
}
.submenu::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 20px;
}

li:hover .submenu {
    display: block;
    opacity: 1;
}

.submenu hr {
    border: 0px none;
    height: 1px;
    background: #eee;
}

.submenu li {
    padding: 4px 0;
}

.submenu a:hover {
    color: #878787;
}

.submenu a:active {
    color: #e71f5f;
}

header #signup, header #signin {
    font-size: 10px;
}

header #signup {
    border: 1px solid white;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
    padding: 0 25px;
    margin: 0 0 0 105px;
}
header #signup:hover {
    background: white;
    color: #18212b;
}

header #signin {
    margin: 0 0 0 25px;
    color: #b6b9b9;
}