.dropDown-mouseover {
    position: absolute;
    top: 33px;
    width: 109px;
    height: 180px;
    pointer-events: none;
}

.dropDown {
    position: absolute;
    top: 83px;
    width: 109px;
    height: 130px;
    border-radius: 14px;
    background-color: white;
    text-align: center;
    display: none;
    transition-duration: 5s;
    -webkit-box-shadow: 0px 0px 23px 11px rgba(0,0,0,0.53); 
    box-shadow: 0px 0px 23px 11px rgba(0,0,0,0.53);
}

.dropDown-inner {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropDown-inner hr {

    margin-top: 15px;
    margin-bottom: 15px;
    color: #efefef;

}

.dropDown-link a {
    color: #b6b9b9;
    font-size: 12px;
    transition-duration: 0.5s;
}

.dropDown-link a:hover {
    color: #e71f5f;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}

.transparent {
    background-color: transparent !important;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 127px;
    background-color: #18202b;
}

.logo-download {
    float: left;
    position: absolute;
    left: 100px;
}

.nav-links {
    position: absolute;
    right: 400px;
    float: left;
}

.nav-accounts {
    position: absolute;
    right: 100px;
    float: left;
}

.logo {
    margin-top: 40px;
    width: 150px;
    float: left;
}

.navbar-link {
    float: right;
    margin-top: 37px;
    margin-right: 30px;
    margin-left: 30px;
    border: none;
    transition-duration: 0.3s;
}

.navbar-link:hover {
    border-bottom: 1px solid white;
}

.navbar-account-link {
    float: right;
    margin-top: 35px;
    margin-right: 15px;
    margin-left: 15px;
}

.nav-download-btn {
    float: left;
    margin-left: 50px;
    margin-top: 55px;
    color: #e71f5e;
    border-color: #e71f5e;
    padding-left: 9px;
    padding-right: 9px;
    background-color: transparent;
    font-size: 12px;
}

.nav-signup-btn {
    float: left;
    margin-left: 50px;
    margin-top: 1.25px;
    color: white;
    border-color: #bfc1c0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: transparent;
}

.rounded-btn {
    border: solid 1px;
    border-radius: 25px;
}

@media screen and (max-width: 1120px) {
    .nav-accounts {
        right: 50px;
    }
    .nav-links {
        right: 300px;
    }
    .logo-download {
        left: 50px;
    }
}