<link rel="stylesheet" href="/css/about.css">
<div id="about" class="middle">
    <div>
        <h1 id="family">
            We're like a great family.
        </h1>
        <table id="infos">
            <tbody>
                <tr>
                    <td>
                        <h3>FREE</h3>
                        <p>Shuttle is free, now and forever. It's an open-source project started in 2017, with the conviction of simplifying your life.
                        </p>
                    </td>
                    <td>
                        <h3>OPEN-SOURCE</h3>
                        <p>As said previously, Shuttle is free, but first of all, open-source. That means people like you help us with their knowledge in development to improve the app.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>RESPONSIVE</h3>
                        <p>The major part or websites are adaptable to the Shuttle's interface. There is stille some websites who aren't responsive, and we apologize.</p>
                    </td>
                    <td>
                        <h3>LIGHT</h3>
                        <p>Shuttle is regularly updated, that means, tomorrow, it will be lighter than today. We don't forget all the contributors, who help to make the app the smallest possible.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>HELP US</h3>
                        <p>There are many wyas to help us. You can make a <a href="https://www.paypal.me/shuttleapp" taget="_blank">donation</a>, help us in the lab to improve the source code, or simply share and talk about the app to your entourage.</p>
                    </td>
                    <td>
                        <h3>UPDATED REGULARLY</h3>
                        <p>All the team is up behind their screens to make the most possible updates. We are working all the day and all the night to offer you the best of Shuttle.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <p id="learnmore"><a href="https://github.com/ShuttleBrowser/Shuttle/blob/master/README.md">LEARN MORE</a></p>
    
        <h3 id="specialthanks">SPECIAL THANKS</h3>
    
        <table id="squares"></table>
    
        <p id="bestcontributors"><a href="https://github.com/KazeJiyu" target="_blank">KazeJiyu</a> — <a href="https://github.com/Vahelnir" target="_blank">Vahelnir</a> — <a href="https://github.com/boardens" target="_blank">Boardens</a> — <a href="https://github.com/TheRolfFR" target="_blank">TheRolf</a></p>
        <p>So much love for you guys 💖</p>
    </div><span class="taille"></span>
</div>
<script src="/js/about.js"></script>