<link rel="stylesheet" href="/css/error.css">
<div id="error" class="middle">
    <div>
<pre>                             ___
                     /======/
            ____    //      \___       ,/
             | \\  //           :,   ./
     |_______|__|_//            ;:; /
    _L_____________\o           ;;;/
____(CCCCCCCCCCCCCC)____________-/________
</pre>
        </pre>
        <h2>Page not built yet</h2>
        <p>There is some stuff to do...</p>
    </div>
    <span class="taille"></span>
</div>