<link rel="stylesheet" href="/css/error.css">
<div id="error" class="middle">
    <div>
    	<h1>;-;</h1>
        <h2>Error</h2>
        <p>Ouch, an error occurred...</p>
    </div>
    <span class="taille"></span>
</div>