<link href="/css/home.css" rel="stylesheet" type="text/css" />

<div class="home">
    <br>
    <br>
    <div class="download">
        <p class="download-text">The fastest acces to your favorites applications.</p>
        <br>
        <br>
        <a href="#" class="download-btn">DOWNLOAD</a>
        <p class="download-termOfUse">BY DOWNLOADING, YOU ALSO ACCEPT <a href="#">TERMS OF USE</a></p>
    </div>
</div>
<a href="https://dyjix.eu" target="_blank" class="dyjix">
    <p>THE TRUST US</p>
    <img src="/img/dyjix.png" alt="">
</a>
<img class="sh-min" src="/img/sh-min.svg" alt="">