<link rel="stylesheet" href="/css/home.css">
<div id="download-center">
    <p>
        The fastest access to your favorites applications.
    </p>
    <a href="/download/">
        DOWNLOAD
    </a>
    <p>
        BY DOWNLOADING, YOU ALSO ACCEPT THE <b><a href="/termsofuse/">TERMS OF USE</a></b>.
    </p>
</div>

<div id="carousel">
    <%- include(`../components/swiper`) %>
</div>

<a href="https://dyjix.eu" target="_blank" id="dyjix">
    THEY TRUST US
    <img src="/img/dyjix.png" alt="DYJIX">
</a>

<img src="/img/sh-min.svg" alt="screen" id="screen">